version: "3.7"

services:
  wp:
    image: wordpress
    restart: always
    ports:
      - 6060:80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: exampleuser
      WORDPRESS_DB_PASSWORD: examplepass
      WORDPRESS_DB_NAME: exampledb
    volumes:
      - wordpress:/var/www/html
      - ./movie-plugin:/var/www/html/wp-content/plugins/movie-plugin

  # see https://kinsta.com/blog/gutenberg-blocks/#:~:text=Create%20Block%20is%20an%20officially,by%20create%2Dreact%2Dapp.
  # to create new block run:
  # docker-compose run --rm node npx @wordpress/create-block --namespace "movie-plugin" --title "Movie List" --category "widgets" movie-list-block
  # to develop the block run:
  # shell 1 (wordpress instance): docker-compose up
  # shell 2 (node): docker-compose run --rm node sh -c "cd movie-list-block && npm start"
  # to build the block run:
  # docker-compose run --rm node  sh -c "cd movie-list-block && npm run build"
  node:
    user: 1000:1000
    image: node:16
    profiles:
      - frontend
    restart: always
    ports:
      - 7070:80
    working_dir: /home/node/blocks
    volumes:
      - ./movie-plugin/blocks:/home/node/blocks
    

  db:
    image: mysql:5.7
    restart: always
    ports: 
      - 3306:3306
    environment:
      MYSQL_DATABASE: exampledb
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - db:/var/lib/mysql

volumes:
  wordpress:
  db: